header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.divlinkcontainer {
  text-decoration: none;
  margin-right: 100px;
  color: black;
  margin-bottom: 4px;
  font: bold;
  font-weight: 700;
}

.divlink {
  text-decoration: none;
  margin-right: 100px;
  color: black;
  font: bold;
  font-weight: 700;
  margin-right: 30px;
}

.divlink:hover {
  color: rgb(0, 128, 0);
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.logo {
  margin-left: 100px;
  padding: 10px;

  height: 80px;
}

.lustaufwasneues {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font: bold;
  gap: 8px;
  flex: 1;
  color: black;
  text-align: center;
}

.maincontainerimg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.gerichte {
  display: flex;
  justify-content: center;
  padding: 80px 80px;
  gap: 16px;
  text-align: center;
  justify-content: space-around;
}

.maincontainer {
  background-color: rgb(241, 238, 238);
  justify-content: center;
}

h2 {
  text-align: center;

  font-family: "Raleway", sans-serif;
}

.pizzaimg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
}

.wasistbesser {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
  padding: 80px;
}

.bratkartoffelnimg {
  height: 300px;
  width: 400px;
  margin-left: 81px;
  border-radius: 10px;
}

.gerichtsvorschlag {
  display: flex;
  gap: 32px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 64px;
  align-items: start;
  margin-bottom: 64px;
  margin: 64px 150px;
  text-align: left;
}

.bratkartoffelntext {
  flex-direction: column;
  gap: 0;
  padding-left: 32px;
  display: flex;
  text-align: left;
  align-items: flex-start;
  margin: 0;
}

.button {
  color: white;
  background-color: rgb(0, 128, 0);
  padding: 10px 20px;
  text-decoration: none;
}

.abstand {
  margin-right: 50px;
}

.kontaktmargin {
  margin-top: 20px;
}

.inputfeld {
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 450px;
}

.messagefeld {
  height: 300px;
}

.sendbutton {
  color: white;
  background-color: rgb(0, 128, 0);
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

h3 {
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.rezeptmain {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 80px;
}

.rezeptimg {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
}

.impressummain {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.profile {
  border-radius: 400px;
  width: 100px;
  height: 100px;
}

.navkünstler {
  display: flex;
  align-items: center;
  gap: 10px;
}

h4 {
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 19px;
}

.footermargin {
  margin-top: 150px;
}

.tdddark {
  background-color: rgb(235, 235, 235);
}

table {
  border-radius: 10px;

  width: 100%;
}

td {
  padding: 15px;
  border-radius: 10px;
  padding: 20px;
}

.icons {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
}

.infos {
  display: flex;
  gap: 10px;
  margin-top: 18px;
  margin-bottom: 15px;
}

.ig {
  background-color: rgb(238, 235, 235);
  border-radius: 10px;
  padding: 6px 14px;
}

.portionen {
  background-color: rgb(0, 128, 0);
  border: none;
  padding: 10px;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.buttoninput {
  width: 100px;
  height: 30px;
}

main {
  flex: 1;
}

.untereinander {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .wasistbesser {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1px;
    justify-content: center;
    justify-self: center;
    display: flex;
  }

  .gerichtsvorschlag {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 64px;
    align-items: center;
    text-align: center;
  }

  .bratkartoffelntext {
    align-items: center;
    text-align: center;
  }

  .kontaktmain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }

  .rezeptmain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .impressummain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .divlinkcontainer {
    margin-right: 20px;
    margin-bottom: 4px;
    margin-left: 20px;
  }

  .logo {
    padding: 10px;
    height: 60px;
    justify-content: center;
    margin-left: 0;
  }

  .gerichte {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    text-align: center;
  }

  .maincontainerimg {
    justify-content: center;
  }

  .bratkartoffelnimg {
    width: 400px;
    height: auto;
  }

  .mitte {
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .pizzaimg {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .insta {
    width: 120px;
    height: 120px;
    justify-content: center;
  }
}

@media (max-width: 1300px) {
  .kontaktmain {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
  }

  header {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1299px) {
  .kontaktmain {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
  }

  .bratkartoffelntext {
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .bratkartoffelnimg {
    width: 700px;
    height: 400px;
  }

  .gerichtsvorschlag {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 64px;
    align-items: center;
    text-align: center;
  }

  .wasistbesser {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;

    justify-content: center;
    justify-self: center;
    display: flex;
  }

  .pizzaimg {
    margin-top: 80px;
    justify-content: center;
  }
}

@media (max-width: 435px) {
  .bratkartoffelnimg {
    width: 250px;
    height: auto;
  }
  .infos {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("fonts/Raleway-Regular.ttf") format("truetype");
}

nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
nav ul {
  list-style: none;
  float: left;
  width: 100%;
  display: flex;
  justify-content: end;
}
nav ul li {
  float: left;
  padding: 0.2px 30px;
  text-align: center;
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
nav ul li {
  width: 100%;
  padding: 15px 0px;
  justify-content: center;
}
nav ul {
  display: none;
  justify-content: center;
}

.burgericon {
  width: 30px;
  height: 30px;
  display: none;
}
.burgericon div {
  width: 90%;
  margin: 7px 5%;
  height: 3px;
  background-color: black;
}
@media (max-width: 600px) {
  .burgericon {
    display: block;
  }
}
#navigation {
  opacity: 0;
}
#navigation:checked ~ ul {
  display: block;
}
#navigation:checked ~ label .burgericon {
  margin-top: 15px;
}
#navigation:checked ~ label .burgericon div:first-of-type {
  rotate: 45deg;
}
#navigation:checked ~ label .burgericon div:last-child {
  rotate: -45deg;
  margin-top: -10px;
}
#navigation:checked ~ label .burgericon div:nth-child(2) {
  display: none;
}
.margin-infos-ig {
  margin-left: 24px;
  margin-right: 24px;
}
.h4-preparation {
  margin-bottom: -3px;
  padding-top: 8px;
  color: #000000ad;
}
.table-container {
  margin-top: 64px;
}
.portions-input {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 8px;
}
.portions {
  padding-right: 24px;
}
.buttoninput {
  height: 37px;
  margin: 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid #ccc;
  outline: none;
  width: 164px;
}
.portionen {
  height: 42px;
  width: 130px;
  background-color: green;
  color: white;
  display: inline-block;
  margin: 0;
  border: none;
}
.button-input {
  padding-left: 24px;
  text-align: center;
  display: flex;
}
hr {
  border-top: 1px solid rgb(235, 235, 235);
  border-width: 1px;
}

.ingredient-color {
  font-size: 16px;
  color: rgb(99 99 99);
}
.ig {
  border-radius: 10px;
  padding: 5px 17px;
  background-color: rgb(235, 235, 235);
}
.navkünstler {
  padding-top: 10px;
  gap: 18px;
}
.name {
  padding-left: 20px;
  color: grey;
  font-size: 24px;
}
.just-padding {
  padding: 144px;
  margin-top: 131px;

  background-color: rgb(99 99 99);
}
.receipt-fontsize {
  font-size: 18px;
  color: #000000ad;
}
h4 {
  margin-bottom: 10px;
}
.contact-footer {
  padding: 38px 200px;
  background-color: #000000cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  height: 65px;
}
.footer-social {
  height: 40px;
}
.contact-section {
  padding-bottom: 270px;
  padding-top: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.kontaktmain {
  background-color: #75757530;
  padding: 16px;
  flex-direction: column;
  display: flex;
  border-radius: 20px;
}
.button {
  color: white;
  background-color: rgb(0, 128, 0);
  padding: 10px 50px;
  text-decoration: none;
}
.button-padding {
  margin-top: 70px;
}
.bratkartoffelntex {
  margin: 0;
  color: rgb(128, 128, 128);
  font-size: 16px;
  font-weight: 400;
}
h2 {
  font-weight: 600;
  padding-top: 32px;
}
.just-padding-start {
  padding: 144px;
  margin-top: 81px;

  background-color: rgb(99 99 99);
}
