header {
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.2);
}
header nav {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  max-width: 1920px;
  margin: 0 auto;
}

.divlinkcontainer {
  text-decoration: none;
  margin-right: 100px;
  color: black;
  margin-bottom: 4px;
  font: bold;
  font-weight: 700;
  font-size: 16px;
}

.divlink {
  text-decoration: none;
  margin-right: 100px;
  color: black;
  font: bold;
  font-weight: 700;
  margin-right: 30px;
  white-space: nowrap;
}

.divlink:hover {
  color: rgb(0, 128, 0);
  text-decoration: underline;
  text-decoration-thickness: 5px;
  transform: scale(1.05);
}

.logo {
  margin-left: 100px;
  padding: 10px;
  height: 80px;
}

.lustaufwasneues {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font: bold;
  gap: 8px;
  flex: 1;
  color: black;
  text-align: center;
}

.maincontainerimg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px;

  justify-content: center;
}

.gerichte {
  display: flex;
  justify-content: center;
  padding: 80px 80px;
  gap: 16px;
  text-align: center;
  justify-content: space-around;
  max-width: 1700px;
  margin: 0 auto;
}

.maincontainer {
  background-color: rgb(241, 238, 238);
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

h2 {
  text-align: center;

  font-family: "Raleway", sans-serif;
}

.pizzaimg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  margin-right: 130px;
}

.wasistbesser {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  max-width: 1700px;
  margin: 0 auto;
  padding: 65px;
  align-items: center;
}

.bratkartoffelnimg {
  height: 300px;
  width: 400px;
  margin-left: 150px;
  border-radius: 10px;
}

.gerichtsvorschlag {
  display: flex;
  gap: 32px;

  align-items: start;
  max-width: 1700px;
  margin: 0 auto;
  padding: 64px 0;
  text-align: left;
}

.bratkartoffelntext {
  flex-direction: column;
  gap: 0;
  padding-left: 32px;
  display: flex;
  text-align: left;
  align-items: flex-start;
  margin: 0;
}

.button {
  color: white;
  background-color: rgb(0, 128, 0);
  padding: 10px 20px;
  text-decoration: none;
  transform: scale(1.05);
}

.abstand {
  margin-right: 110px;
  text-align: center;
  margin-left: 130px;
}

.kontaktmargin {
  margin-top: 20px;
}

.inputfeld {
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 450px;
}

.messagefeld {
  height: 300px;
}

.sendbutton {
  color: white;
  background-color: rgb(0, 128, 0);
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transform: scale(1.05);
}

h3 {
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.rezeptmain {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 80px;
}

.rezeptimg {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
}

.impressummain {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.profile {
  border-radius: 400px;
  width: 100px;
  height: 100px;
}

.navkünstler {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 36px;
}

h4 {
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 19px;
}

.footermargin {
  margin-top: 150px;
}

.tdddark {
  background-color: rgb(235, 235, 235);
}

table {
  border-radius: 10px;

  width: 100%;
}

td {
  padding: 15px;
  border-radius: 10px;
  padding: 20px;
}

.icons {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
}

.infos {
  display: flex;
  gap: 10px;
  margin-top: 18px;
  margin-bottom: 15px;
}

.ig {
  background-color: rgb(238, 235, 235);
  border-radius: 10px;
  padding: 6px 14px;
}

.portionen {
  background-color: rgb(0, 128, 0);
  border: none;
  padding: 10px;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.buttoninput {
  width: 100px;
  height: 30px;
}

main {
  flex: 1;
  max-width: 1920px;
  margin: 0 auto;
}

.untereinander {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("fonts/Raleway-Regular.ttf") format("truetype");
}

nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
nav ul {
  list-style: none;
  float: left;
  width: 100%;
  display: flex;
  justify-content: end;
}
nav ul li {
  float: left;
  text-align: center;
}

#navigation {
  opacity: 0;
}
#navigation:checked ~ ul {
  display: block;
}
#navigation:checked ~ label .burgericon {
  margin-top: 15px;
}
#navigation:checked ~ label .burgericon div:first-of-type {
  rotate: 45deg;
}
#navigation:checked ~ label .burgericon div:last-child {
  rotate: -45deg;
  margin-top: -10px;
}
#navigation:checked ~ label .burgericon div:nth-child(2) {
  display: none;
}
.margin-infos-ig {
  margin-left: 24px;
  margin-right: 24px;
}
.h4-preparation {
  margin-bottom: -3px;
  padding-top: 8px;
  color: #000000ad;
}
.table-container {
  margin-top: 64px;
}
.portions-input {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 8px;
}
.portions {
  padding-right: 24px;
}
.buttoninput {
  height: 37px;
  margin: 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid #ccc;
  outline: none;
  width: 164px;
}
.portionen {
  height: 42px;
  width: 130px;
  background-color: green;
  color: white;
  display: inline-block;
  margin: 0;
  border: none;
}
.button-input {
  padding-left: 24px;
  text-align: center;
  display: flex;
}
hr {
  border-top: 1px solid rgb(235, 235, 235);
  border-width: 1px;
}

.ingredient-color {
  font-size: 16px;
  color: rgb(99 99 99);
}
.ig {
  border-radius: 10px;
  padding: 5px 17px;
  background-color: rgb(235, 235, 235);
}
.navkünstler {
  padding-top: 10px;
  gap: 18px;
}
.name {
  padding-left: 20px;
  color: grey;
  font-size: 24px;
}
.just-padding {
  padding: 144px;
  margin-top: 131px;

  background-color: rgb(99 99 99);
}
.receipt-fontsize {
  font-size: 18px;
  color: #000000ad;
}
h4 {
  margin-bottom: 10px;
}
footer {
  background-color: #000000cc;
}
.footer-logo {
  height: 64px;
}
.footer-social {
  height: 36px;
}
.contact-section {
  padding-bottom: 270px;
  padding-top: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.kontaktmain {
  background-color: #75757530;
  padding: 16px;
  flex-direction: column;
  display: flex;
  border-radius: 20px;
}
.button {
  color: white;
  background-color: rgb(0, 128, 0);
  padding: 10px 50px;
  text-decoration: none;
}
.button-padding {
  margin-top: 70px;
}
.bratkartoffelntex {
  margin: 0;
  color: rgb(128, 128, 128);
  font-size: 16px;
  font-weight: 400;
}
h2 {
  font-weight: 600;
  padding-top: 32px;
}
.just-padding-start {
  padding: 144px;
  margin-top: 81px;

  background-color: rgb(99 99 99);
}
.infos {
  align-items: center;
}
.side-info-font {
  margin: 0;
}
.page-wrapper {
  width: 1920px;
  margin: 0 auto;
  width: 100%;
}
.footer-content {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 130px;
}

@media (max-width: 1300px) {
  header {
    font-size: 20px;
  }
}

@media (max-width: 1299px) {
  .abstand {
    margin-right: 0;
    font-size: 14px;
    margin-left: 0;
  }
  .bratkartoffelntext {
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .bratkartoffelnimg {
    width: 700px;
    height: 400px;
  }

  .gerichtsvorschlag {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 64px;
    align-items: center;
    text-align: center;
  }

  .wasistbesser {
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
    padding: 30px;
    justify-self: center;
    display: flex;
    align-items: center;
    margin-top: 18px;
  }

  .pizzaimg {
    margin-top: 60px;
    padding-bottom: 24px;
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .wasistbesser {
    padding: 1px;
    text-align: center;
  }
  .abstand {
    font-size: 14px;
    margin-right: 0;
    margin-top: 19px;
  }
  .gerichtsvorschlag {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 64px;
    align-items: center;
    text-align: center;
  }

  .bratkartoffelntext {
    align-items: center;
    text-align: center;
  }

  .kontaktmain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }

  .rezeptmain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .impressummain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .divlinkcontainer {
    margin-right: 20px;
    margin-bottom: 4px;
    margin-left: 20px;
  }

  .logo {
    padding: 10px;
    height: 60px;
    justify-content: center;
    margin-left: 0;
  }

  .gerichte {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    text-align: center;
  }

  .maincontainerimg {
    justify-content: center;
    padding-bottom: 10px;
  }

  .bratkartoffelnimg {
    width: 400px;
    height: auto;
  }

  .mitte {
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .pizzaimg {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .insta {
    width: 120px;
    height: 120px;
    justify-content: center;
  }
  .lustaufwasneues {
    padding-bottom: 20px;
    font-size: 19px;
    font-weight: 500px;
  }
  .bratkartoffelnimg {
    margin-left: 0;
  }
  .footer-content {
    padding: 27px 58px;
  }
  .contact-section {
    padding-top: 170px;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  header nav {
    align-items: center;
  }
  nav ul li {
    width: 100%;
    padding: 15px 0px;
    justify-content: center;
  }
  nav ul {
    display: none;
    justify-content: center;
  }

  .burgericon {
    width: 30px;
    height: 30px;
    display: none;
  }
  .burgericon div {
    width: 90%;
    margin: 7px 5%;
    height: 3px;
    background-color: black;
  }

  .burgericon {
    display: block;
  }
  .pizzaimg {
    margin-bottom: 24px;
  }
}
@media (max-width: 660px) {
  .footer-logo {
    height: 54px;
  }
  .footer-social {
    height: 31px;
  }
  .footer-content {
    padding: 24px 32px;
  }
  .contact-section {
    padding-top: 150px;
  }
  .inputfeld {
    width: 412px;
  }
}
@media (max-width: 540px) {
  h2 {
    font-size: 20px;
    padding-top: 20px;
  }
  .abstand {
    font-size: 14px;
  }
  .pizzaimg {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
  }
  .bratkartoffelnimg {
    margin-left: 0;
  }
  .h2-font {
    font-size: 22px;
    padding-top: 32px;
  }
  .gerichte {
    padding: 28px;
  }
  .first-container {
    text-align: center;
  }
  .h1-position {
    font-size: 24px;
    margin-bottom: 28px;
    text-align: center;
  }
  .infos {
    margin-top: 8px;
  }
  .ig {
    padding: 6px 10px;
  }
  .side-info-font {
    margin: 0;
    font-size: 14px;
  }
  .rezeptimg {
    height: 130px;
  }
  .button-padding {
    margin-top: 56px;
    margin-bottom: 20px;
  }
  .contact-section {
    padding-bottom: 92px;
  }
  .messagefeld {
    height: 195px;
  }
  h3 {
    font-size: 21px;
    margin-bottom: 24px;
  }
  .inputfeld {
    width: 270px;
  }
  .contact-section {
    padding-top: 64px;
  }
  .kontaktmain {
    padding: 12px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .maincontainer {
    align-items: center;
  }
}

@media (max-width: 435px) {
  .bratkartoffelnimg {
    width: 250px;
    height: auto;
  }
  .infos {
    align-items: center;
    text-align: center;
  }
  .table-container {
    margin-top: 24px;
  }
  .buttoninput {
    width: 100px;
    height: 29px;
  }
  .portionen {
    height: 34px;
    width: 94px;
  }
  td {
    padding: 18px;
  }
  .ingredient-color {
    font-size: 11px;
  }
  .button-input {
    padding-left: 11px;
  }
  td {
    font-size: 16px;
  }
  .icons {
    width: 13px;
    height: 13px;
  }
  .side-info-font {
    font-size: 9px;
  }
  .margin-infos-ig {
    margin-left: 0;
    margin-right: 0;
  }
  .h4-preparation {
    margin-right: 28px;
    font-size: 20px;
  }
  .span-font {
    font-size: 14px;
  }
  .name {
    padding-left: 10px;
    font-size: 18px;
  }
  .profile {
    width: 80px;
    height: 80px;
  }
  .receipt-fontsize {
    font-size: 20px;
    margin-top: 42px;
    margin-bottom: 20px;
  }
  .footer-content {
    padding: 22px 16px;
  }
  .footer-logo {
    height: 42px;
  }
  .footer-social {
    height: 25px;
  }
}

@media (max-width: 420px) {
  h2 {
    font-size: 16px;
    padding-top: 18px;
  }
  .abstand {
    font-size: 14px;
  }
  .pizzaimg {
    margin-bottom: 16px;
  }
  .bratkartoffelntext {
    gap: 0;
    padding-left: 0;
  }
  .bratkartoffelnimg {
    margin-left: 0;
  }
  .gerichtsvorschlag {
    margin: 54px 20px;
  }
}
@media (max-width: 490px) {
  .ig {
    padding: 4px 10px;
  }
}

@media (min-width: 1000px) {
  .divlinkcontainer {
    gap: 25px;
  }
}
